<!--The content below is only a placeholder and can be replaced.-->

<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint nihil saepe cupiditate, provident magnam pariatur
  temporibus facere cum dolores error nisi dolorum facilis molestiae libero nobis animi modi, consectetur quidem?
  Corrupti deleniti provident officiis tempora eius! Molestias debitis ipsa, iusto assumenda exercitationem tempora
  voluptatibus delectus magni ratione? Vero vitae unde incidunt culpa ipsam consequatur magni, eligendi nisi iure
  laudantium quo eveniet omnis amet inventore blanditiis aut assumenda quisquam rerum obcaecati earum! Rem odio ex
  distinctio praesentium laborum, deserunt dolorum veritatis, expedita eius voluptate earum eos maxime consectetur
  temporibus consequatur ut soluta ab corporis enim quos tempora mollitia sint reprehenderit! Laudantium!
</p>
<p>
  <app-proj-address text='Pritesh Naik' [user]='User'></app-proj-address>
  <br>
  <br>
  <!-- 2-Way Data Binding -->
  <app-comp1></app-comp1>
</p>
<br>
<hr>
