<p>proj-address works!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam deserunt, esse perferendis perspiciatis minus eum,
  nesciunt sed culpa, ipsum dolor at molestiae. Molestias maiores quae autem similique blanditiis accusantium magnam
  neque laudantium nisi nobis officia dolore nostrum sed, ipsam quasi laborum odio, porro consectetur cum! Sapiente
  quibusdam libero mollitia, minima eos qui eaque dolores quaerat molestias dolor, quos aliquam culpa perspiciatis
  nostrum nisi distinctio maxime vel cupiditate ratione rerum recusandae natus! Tempore, doloribus impedit esse earum at
  quia repudiandae modi laboriosam ratione incidunt accusantium facere ex officiis totam eos autem nam error harum
  fugiat ipsa! Ex aliquid ipsum delectus nam.</p>

<div>Hello
  <p>{{user.GetFullDet()}}</p>
</div>
